<strong>РЕЗУС-ФАКТОР &nbsp; И АНАЛИЗ ГРУППЫ КРОВИ</strong>
<p align="center">[[analiz1]]</p>
---------------------------------------------<br>

<strong>ГОРМОНЫ</strong>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td nowrap><p align="center"><strong>№</strong></p></td>
    <td><p align="center"><strong>ГОРМОНЫ</strong></p></td>
    <td><p align="center"><strong>РЕЗУЛЬТАТ</strong></p></td>
    <td><p align="center"><strong>ЕДИНИЦЫ&nbsp;&nbsp;&nbsp; ИЗМЕРЕНИЯ</strong></p></td>
    <td><p align="center"><strong>НОРМАЛЬНЫЙ ДИАПАЗОН</strong></p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>1</strong></p></td>
    <td><p align="center">ПРОЛАКТИН/ <strong>РRL</strong></p></td>
    <td>[[analiz1]]</td>
    <td><p align="center">мМЕ/л</p></td>
    <td><p>Женщины: 67-726 мМЕ/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мужчины: 105-540    мМЕ/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>2</strong></p></td>
    <td><p align="center">ТЕСТОСТЕРОН <strong>(TESTOSTERONE)</strong></p></td>
    <td>[[analiz2]]</td>
    <td><p align="center">нг/мл</p></td>
    <td><p>Женщины: &lt; 0,6 нг/мл &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt; 0,8    нг/мл&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;    Мужчины: 3,5-8,6 нг/мл Мальчики: 0,3-1,2 нг/мл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>3</strong></p></td>
    <td><p align="center">ТРИЙОДТИРОНИН<strong>/Т3</strong></p></td>
    <td>[[analiz3]]</td>
    <td><p align="center">нг/мл</p></td>
    <td><p>0,69-2,02 нг/мл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>4</strong></p></td>
    <td><p align="center">ТИРОКСИН/<strong>Т4</strong></p></td>
    <td>[[analiz4]]</td>
    <td><p align="center">мкг/дл</p></td>
    <td><p>Мужчины: 4,4-10,8 мкг/дл Женщины: 4,8-11,6    мкг/дл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>5</strong></p></td>
    <td><p align="center">ТИРОКСИН/<strong>Т4</strong> свободный</p></td>
    <td>[[analiz5]]</td>
    <td><p align="center">нг/дл</p></td>
    <td><p>Взрослые: 0,8-2,0 нг/дл Беременные: 0,8-2,2    нг/дл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>6</strong></p></td>
    <td><p align="center">ТИРЕОТРОПНЫЙ ГОРМОН (<strong>ТТГ)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p></td>
    <td>[[analiz6]]</td>
    <td><p align="center">mlU/I</p></td>
    <td><p>0,3-4,0 mlU/I</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>7</strong></p></td>
    <td><p align="center">ФОЛЛИКУЛСТИМУЛИРУЮЩИЙ    ГОРМОН <strong>(ФСГ)</strong></p></td>
    <td>[[analiz7]]</td>
    <td><p align="center">ед/л</p></td>
    <td><p>Женщины: фоллик.фаза:&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;    3,0-12,0 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Середина цикла: 8,0-22,0 &nbsp;ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Лютеин.    Фаза: 2,0-12,0 ед/л Постменопауза:35,0-151&nbsp;    ед/л Мужчины: 1,0-14,0 ед/л</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>8</strong></p></td>
    <td><p align="center">ЛЮТЕИНИЗИРУЩИЙ ГОРМОН <strong>(ЛГ)</strong></p></td>
    <td>[[analiz8]]</td>
    <td><p align="center">ед/л</p></td>
    <td><p>Женщины: фоллик.фаза:&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;0,8-10,5 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;    Середина цикла:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;18,4-51,2 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Лютеин.    Фаза: 0,8-10,5 ед/л Постменопауза: 8,2-40,8 ед/л Мужчины: 0,7-7,4 ед/л</p></td>
  </tr>
</table>
<p>&nbsp;</p>

--------------------------------------------------------- <br>
<strong>КОАГУЛОГРАММА </strong>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>Показатель</strong></p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>Результат</strong></p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>Норма</strong></p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>Ед/изм</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">&nbsp;</p>
      <p align="center">1</p></td>
    <td valign="top"><p align="center">&nbsp;</p>
      <p align="center">Гематокрит</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center">Женщины: &nbsp;37-47 Мужчины: &nbsp;42-52</p></td>
    <td valign="top"><p align="center">&nbsp;</p>
      <p align="center">Сек </p>
      <p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">2</p></td>
    <td valign="top"><p align="center">Время рекальцификации</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center">88-120</p></td>
    <td valign="top"><p align="center">ЕД</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">3</p></td>
    <td valign="top"><p align="center">Протромбиновый индекс</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p align="center">95-105</p></td>
    <td valign="top"><p align="center">г/л</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">4</p></td>
    <td valign="top"><p align="center">Тромботест</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p align="center">V-VI</p></td>
    <td valign="top"><p align="center">Ст</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">5</p></td>
    <td valign="top"><p align="center">Фибриноген</p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td valign="top"><p align="center">2.0-4.0</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">6</p></td>
    <td valign="top"><p align="center">МНО</p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td valign="top"><p align="center">0.8-1.2</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
  </tr>
</table> <p>-------------------------------------- <br>
  <strong>Биохимический анализ крови  </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td><p align="center"><strong>Показатель</strong></p></td>
    <td><p align="center"><strong>Результат</strong></p></td>
    <td><p align="center"><strong>Референтые    значения</strong></p></td>
  </tr>
  <tr>
    <td><p align="center">Общий белок</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td><p align="center">Взрослые: 66-87    г/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Дети до 3 лет: 46-70 г/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Альбумин</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td><p align="center">38-51 г/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Билирубин: общий</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td><p align="center">1.1 - 18,8 мкмоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Прямой</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td><p align="center">0.25-4.3 мкмоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Непрямой</p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td><p align="center">1,7 - 17,1 мкмоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Аланинаминотрансфераза    (кинетический метод)</p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td><p align="center">1-42 МЕ/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Аспартатаминотрансфераза    (кинетический метод)</p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td><p align="center">1-37 МЕ/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Мочевина</p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td><p align="center">2.5 &ndash; 8.3 ммоль/л&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Моча: 333-583 ммоль/сут</p></td>
  </tr>
  <tr>
    <td><p align="center">Креатинин</p></td>
    <td valign="top"><p align="center">[[analiz9]]</p></td>
    <td><p align="center">Муж: 61,8-123,7 мкмоль/л <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Жен: 53,0-97,2 мкмоль/л&nbsp; <br>
      &nbsp;Моча: 1000-1500 мг/сут</p></td>
  </tr>
  <tr>
    <td><p align="center">Холестерин</p></td>
    <td valign="top"><p align="center">[[analiz10]]</p></td>
    <td><p align="center">3,0-5,2 ммоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Глюкоза</p></td>
    <td valign="top"><p align="center">[[analiz11]]</p></td>
    <td><p align="center">3,3-6,1 ммоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Кальций</p></td>
    <td valign="top"><p align="center">[[analiz12]]</p></td>
    <td><p align="center">2,02-2.60 ммоль/л</p></td>
  </tr>
  <tr>
    <td><p align="center">Мочевая кислота</p></td>
    <td valign="top"><p align="center">[[analiz13]]</p></td>
    <td><p align="center">Муж: 214-458 мкмоль/л <br>
      &nbsp;&nbsp;&nbsp;    Жен: 149-405 мкмоль/л&nbsp;&nbsp;&nbsp;&nbsp; Моча:    250-750 мг/сут</p></td>
  </tr>
  <tr>
    <td><p align="center">Железо</p></td>
    <td valign="top"><p align="center">[[analiz14]]</p></td>
    <td><p align="center">10.6 - 28.3 мкм/л</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Гликогемоглобин</p></td>
    <td valign="top"><p align="center">[[analiz15]]</p></td>
    <td valign="top"><p align="center">4,5-7,0</p></td>
  </tr>
</table>
<p>-------------------------------------------------------------------------</p>
<p >HIV -1/2 &nbsp;против инфекции &nbsp;IgG, lgM и lgA &nbsp;&nbsp;&nbsp;для выявления антитела.<br>
  Иммунохромотографическый&nbsp; анализ<br>
  <em>При&nbsp; анализе исползавались тест</em><em>овые кассеты </em><em>On</em><em>Site</em><em>Anti</em><em> &ndash;</em><em>HIV</em><em> 1+2 </em><br>
<em>От  компании</em><em>&laquo;СТК</em><em>BIOTEC</em><em>&raquo;</em></p>
<p>Результат: Anti HIV &frac12; ( СПИД)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[analiz1]]</p>
<p>--------------------------------------------------------------------------------&nbsp;</p>
<p>ГЕПАТИТ Б,С Express</p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Наименования</strong></p></td>
    <td valign="top"><p align="center"><strong>Результат</strong></p></td>
    <td valign="top"><p align="center"><strong>Интерпритация</strong></p></td>
    <td valign="top"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>1</strong></p></td>
    <td valign="top"><p align="center">HbsAg (express)</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">До    0,13</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>2</strong></p></td>
    <td valign="top"><p align="center">Anti-HCV (express)</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">До    0,15</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>3</strong></p></td>
    <td valign="top"><p align="center">RPR Syphilis</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
  </tr>
</table>
<p>-------------------------------------------------------------</p>
<p>ГЕПАТИТ Б,С</p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Наименования</strong></p></td>
    <td valign="top"><p align="center"><strong>Результат</strong></p></td>
    <td valign="top"><p align="center"><strong>Интерпритация</strong></p></td>
    <td valign="top"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>1</strong></p></td>
    <td valign="top"><p align="center">HbsAg</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">До    0,13</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>2</strong></p></td>
    <td valign="top"><p align="center">Anti-HCV</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">До    0,15</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>4</strong></p></td>
    <td valign="top"><p align="center">Бруцеллёз</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>5</strong></p></td>
    <td valign="top"><p align="center">Гепатит А (Ig М)</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
    <td valign="top"><p align="center">(-)    отриц</p></td>
  </tr>
</table>
<p>-----------------------------------------------</p>
<p><strong>ИССЛЕДОВАНИЕ ЭКСКРИМЕНТОВ&nbsp; </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="18%" valign="top"><p>Количество</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="16%" valign="top"><p>Консистенция</p></td>
    <td width="37%" valign="top"><p align="center">[[analiz5]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Форма</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p>Запах</p></td>
    <td valign="top"><p align="center">Каловый</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Цвет</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p>Реакция</p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Слизь</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p>Кровь</p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p align="center">Остатки    не переваренной пищи</p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<div align="center">Микроскопические исследования</div>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td colspan="2" valign="top"><p><strong>Мышечные    волокна:</strong></p></td>
    <td colspan="2" valign="top"><p><strong>Растительная    клетчатка:</strong></p></td>
  </tr>
  <tr>
    <td width="21%" valign="top"><p>С исчерченностью</p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td width="24%" valign="top"><p>Переваримая</p></td>
    <td valign="top"><p align="center">[[analiz17]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Без исчерченности</p></td>
    <td valign="top"><p align="center">[[analiz9]]</p></td>
    <td valign="top"><p>Непереваримая</p></td>
    <td valign="top"><p align="center">[[analiz18]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Соединительная ткань</p></td>
    <td valign="top"><p align="center">[[analiz10]]</p></td>
    <td valign="top"><p>Кристаллы</p></td>
    <td valign="top"><p align="center">[[analiz19]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Жирные кислоты</p></td>
    <td valign="top"><p align="center">[[analiz11]]</p></td>
    <td valign="top"><p>Эпителий</p></td>
    <td valign="top"><p align="center">[[analiz20]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Жир нейтральный</p></td>
    <td valign="top"><p align="center">[[analiz12]]</p></td>
    <td valign="top"><p>Эритроциты</p></td>
    <td valign="top"><p align="center">[[analiz21]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Мыла </p></td>
    <td valign="top"><p align="center">[[analiz13]]</p></td>
    <td valign="top"><p>Лейкоциты</p></td>
    <td valign="top"><p align="center">[[analiz22]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Йодофильная флора</p></td>
    <td valign="top"><p align="center">[[analiz14]]</p></td>
    <td valign="top"><p>Дрожжевые грибы:</p></td>
    <td valign="top"><p align="center">[[analiz23]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Крахмал</p></td>
    <td valign="top"><p align="center">[[analiz15]]</p></td>
    <td valign="top"><p>Слизь</p></td>
    <td valign="top"><p align="center">[[analiz24]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Яйца паразитов:</p></td>
    <td valign="top"><p align="center">[[analiz16]]</p></td>
    <td valign="top"><p>Простейшие</p></td>
    <td valign="top"><p align="center">[[analiz25]]</p></td>
  </tr>
</table>
<p>------------------------------------------------------</p>
<p align="center"><strong>Иммунологический анализ крови SARS-COV-2(СОVID-19)  IgМ-IgG</strong> (<strong>експресс тест </strong>)</p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td><p align="center"><strong>№</strong></p></td>
    <td><p align="center"><strong>Показатели</strong></p></td>
    <td><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Результат</strong></p></td>
    <td><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">1</p></td>
    <td valign="top"><p align="center">Антитела    к коронавирусу SARS-COV-2(COVID)-19    IgG </p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center">Отрицательный</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">2</p></td>
    <td valign="top"><p align="center">Антитела    к коронавирусу SARS-COV-2(COVID)-19    IgM </p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center">Отрицательный</p></td>
  </tr>
</table>
<p>---------------------------------------------------------------</p>
<p><strong>Липидний спектор </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="47"><p align="center"><strong>№</strong></p></td>
    <td width="341"><p align="center"><strong>Наименования</strong></p></td>
    <td width="142"><p align="center"><strong>Результат</strong></p></td>
    <td width="119"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td width="47"><p align="center">1</p></td>
    <td width="341"><p align="center"><strong>Липидний    спектор</strong></p></td>
    <td width="142"><p align="center">[[analiz1]]</p></td>
    <td width="119"><p align="center">До 0,35</p></td>
  </tr>
</table>
<p>---------------------------------------------------------------------------------------------</p>
<p><strong>АНАЛИЗ НА ГЕЛЬМИНТЫ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="64"><p align="center"><strong>№</strong></p></td>
    <td width="212"><p align="center"><strong>Наименования</strong></p></td>
    <td width="99"><p align="center"><strong>Результат</strong></p></td>
    <td width="147"><p align="center"><strong>Интерпретация</strong></p></td>
    <td width="79"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td width="64"><p align="center">1</p></td>
    <td width="212"><p align="center">Lamblia    (Ig A,M,G)</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="147"><p align="center">(-) отриц</p></td>
    <td width="79"><p align="center">До 0.29</p></td>
  </tr>
  <tr>
    <td width="64"><p align="center">2</p></td>
    <td width="212"><p align="center">Ascaris lumbricoides&nbsp;&nbsp;&nbsp; (Ig G)</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td width="147"><p align="center">(-) отриц&nbsp;</p></td>
    <td width="79"><p align="center">До&nbsp;0.26</p></td>
  </tr>
</table>
<p>--------------------------------------------------------------------</p>
<p><strong>МАЗOK</strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="44"><p align="center"><strong>№</strong></p></td>
    <td width="303"><p align="center"><strong>Показатели</strong></p></td>
    <td width="202"><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Результат</strong></p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>1</strong></p></td>
    <td width="303"><p align="center"><em>Лейкоциты</em></p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>2</strong></p></td>
    <td width="303"><p align="center"><em>Эпителий</em></p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>3</strong></p></td>
    <td width="303"><p align="center"><em>Слизь</em></p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>4</strong></p></td>
    <td width="303"><p align="center"><em>Гонококки</em></p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>5</strong></p></td>
    <td width="303"><p align="center"><em>Трихомонады</em></p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>6</strong></p></td>
    <td width="303"><p align="center"><em>Ключевые    клетки</em></p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>7</strong></p></td>
    <td width="303"><p align="center"><em>Кандида</em></p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
  </tr>
  <tr>
    <td width="44"><p align="center"><strong>8</strong></p></td>
    <td width="303"><p align="center"><em>Микрофлора</em></p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
  </tr>
</table>
<p>--------------------------------------------------------------------------</p>
<p><strong>АНАЛИЗ МОЧИ  ПО НЕЧИПОРЕНКО </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="45"><p align="center"><strong>№</strong></p></td>
    <td width="151"><p align="center"><strong>Показатели</strong></p></td>
    <td width="132"><p><strong>Результат</strong></p></td>
    <td width="227"><p align="center"><strong>Референтные значения</strong></p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p align="center">1</p></td>
    <td width="151" valign="top"><p align="center">Лейкоциты</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="227" valign="top"><p align="center">2000</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p align="center">2</p></td>
    <td width="151" valign="top"><p align="center">Эритроциты</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td width="227" valign="top"><p align="center">1000</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p align="center">3</p></td>
    <td width="151" valign="top"><p align="center">Цилиндры</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td width="227" valign="top"><p align="center">20</p></td>
  </tr>
</table>
<p>-------------------------------------------------------------------------</p>
<p><strong>АНАЛИЗ КРОВИ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="67" rowspan="2" valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td width="179" rowspan="2" valign="top"><p align="center"><strong>Показатель</strong></p></td>
    <td width="85" rowspan="2" valign="top"><p align="center"><strong>Результат</strong></p></td>
    <td width="280" colspan="3" valign="top"><p align="center"><strong>Референтные значения</strong></p></td>
    <td width="67" rowspan="3" valign="top"><p align="center"><strong>Ед/изм</strong></p>
      <p align="center">109/л</p></td>
  </tr>
  <tr>
    <td width="79" valign="top"><p align="center">До    2лет</p></td>
    <td width="86" valign="top"><p align="center">2-6    лет</p></td>
    <td width="114" valign="top"><p align="center">взрослые</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">WBC </p></td>
    <td width="179" valign="top"><p>Лейкоциты</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="79" valign="top"><p align="center">8,0-12,0</p></td>
    <td width="86" valign="top"><p align="center">8,30-10,0</p></td>
    <td width="114" valign="top"><p align="center">4,0-10,0</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Lymph#</p></td>
    <td width="179" valign="top"><p>Лимфоциты</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">0,8-4,0</p></td>
    <td width="67" valign="top"><p align="center">109/л </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Mid#</p></td>
    <td width="179" valign="top"><p>Число клеток среднего    размера</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">0,1-1,5</p></td>
    <td width="67" valign="top"><p align="center">109/л </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Gran#</p></td>
    <td width="179" valign="top"><p>Число гранулоцитов </p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">2,0-7,0</p></td>
    <td width="67" valign="top"><p align="center">109/л </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Lymph%</p></td>
    <td width="179" valign="top"><p>Процент лимфоцитов</p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">20-40</p></td>
    <td width="67" valign="top"><p align="center">% </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Mid%</p></td>
    <td width="179" valign="top"><p>Процент клеток среднего    размера </p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">3-15</p></td>
    <td width="67" valign="top"><p align="center">% </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">Gran%</p></td>
    <td width="179" valign="top"><p>Процент гранулоцитов </p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">50-70</p></td>
    <td width="67" valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">HGB</p></td>
    <td width="179" valign="top"><p>Гемоглобин</p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td width="79" valign="top"><p align="center">106-148</p></td>
    <td width="86" valign="top"><p align="center">102-142</p></td>
    <td width="114" valign="top"><p>Жен:120-140<br>
      Муж: 130-160</p></td>
    <td width="67" valign="top"><p align="center">г/л</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">RBC</p></td>
    <td width="179" valign="top"><p>Эритроциты</p></td>
    <td valign="top"><p align="center">[[analiz9]]</p></td>
    <td width="79" valign="top"><p align="center">3,7-5,2</p></td>
    <td width="86" valign="top"><p align="center">3,6-5,1</p></td>
    <td width="114" valign="top"><p align="center">3,50-5,50</p></td>
    <td width="67" valign="top"><p align="center">1012/Л</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">HCT</p></td>
    <td width="179" valign="top"><p>Гематокрит</p></td>
    <td valign="top"><p align="center">[[analiz10]]</p></td>
    <td width="79" valign="top"><p align="center">32-41</p></td>
    <td width="86" valign="top"><p align="center">31-40</p></td>
    <td width="114" valign="top"><p align="center">37-54</p></td>
    <td width="67" valign="top"><p align="center">% </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">MCV</p></td>
    <td width="179" valign="top"><p>Средний корпускулярный    объем</p></td>
    <td valign="top"><p align="center">[[analiz11]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p>
      <p align="center">72,0-89,0</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p>
      <p align="center">76,0-90,0</p></td>
    <td width="114" valign="top"><p align="center">&nbsp;</p>
      <p align="center">80,0-100,0</p></td>
    <td width="67" valign="top"><p align="center">&nbsp;</p>
      <p align="center">ф/л</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">MCH</p></td>
    <td width="179" valign="top"><p>Содержание гемоглобина в эритроците</p></td>
    <td valign="top"><p align="center">[[analiz12]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p>
      <p align="center">24,0-31,0</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p>
      <p align="center">25,5-33,0</p></td>
    <td width="114" valign="top"><p align="center">&nbsp;</p>
      <p align="center">27,0-34,0</p></td>
    <td width="67" valign="top"><p align="center">&nbsp;</p>
      <p align="center">п/г</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">MCHC</p></td>
    <td width="179" valign="top"><p>Клеточная концентрация    гемоглобина</p></td>
    <td valign="top"><p align="center">[[analiz13]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p>
      <p align="center">330-336</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p>
      <p align="center">324-368</p></td>
    <td width="114" valign="top"><p align="center">&nbsp;</p>
      <p align="center">320-360</p></td>
    <td width="67" valign="top"><p align="center">&nbsp;</p>
      <p align="center">г/л</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">RDW-CV</p></td>
    <td width="179" valign="top"><p>Коэффициент распределения    эритроцитов</p></td>
    <td valign="top"><p align="center">[[analiz14]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">&nbsp;</p>
      <p align="center">11-16</p></td>
    <td width="67" valign="top"><p align="center">&nbsp;</p>
      <p align="center">%</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">RDW-SD</p></td>
    <td width="179" valign="top"><p>Стандартное отклонение<br>
      распределения    эритроцитов&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td valign="top"><p align="center">[[analiz15]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">35.0-56.0</p></td>
    <td width="67" valign="top"><p align="center">ф/л </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">PLT</p></td>
    <td width="179" valign="top"><p>Тромбоциты </p></td>
    <td valign="top"><p align="center">[[analiz16]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">180-320</p></td>
    <td width="67" valign="top"><p align="center">109/л </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">MPV</p></td>
    <td width="179" valign="top"><p>Средний обьем тромбоцитов</p></td>
    <td valign="top"><p align="center">[[analiz17]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">6,5-12,0</p></td>
    <td width="67" valign="top"><p align="center">ф/л</p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">PDW</p></td>
    <td width="179" valign="top"><p>Ширина распределения    тромбоцитов </p></td>
    <td valign="top"><p align="center">[[analiz18]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">9,0-17,0</p></td>
    <td width="67" valign="top"><p align="center">% </p></td>
  </tr>
  <tr>
    <td width="67" valign="top"><p align="center">PCT</p></td>
    <td width="179" valign="top"><p>Тромбокрит </p></td>
    <td valign="top"><p align="center">[[analiz19]]</p></td>
    <td width="79" valign="top"><p align="center">&nbsp;</p></td>
    <td width="86" valign="top"><p align="center">&nbsp;</p></td>
    <td width="114" valign="top"><p align="center">0,108-0,282</p></td>
    <td width="67" valign="top"><p align="center">%</p></td>
  </tr>
</table>
<div align="center"><strong>Лейкоцитарная формула</strong></div>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="8%" valign="top"><p>Mon%</p></td>
    <td width="30%" valign="top"><p>Моноциты</p></td>
    <td width="17%" valign="top"><p align="center">[[analiz20]]</p></td>
    <td width="11%" valign="top"><p align="center">3-12</p></td>
    <td width="11%" valign="top"><p align="center">3-15</p></td>
    <td width="16%" valign="top"><p align="center">3-11</p></td>
    <td width="7%" valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>Eos%</p></td>
    <td valign="top"><p>Эозинофилы</p></td>
    <td valign="top"><p align="center">[[analiz21]]</p></td>
    <td valign="top"><p align="center">2-5</p></td>
    <td valign="top"><p align="center">2-5</p></td>
    <td valign="top"><p align="center">0,5-5</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Лимфоциты </p></td>
    <td valign="top"><p align="center">[[analiz22]]</p></td>
    <td valign="top"><p align="center">50-70</p></td>
    <td valign="top"><p align="center">40-50</p></td>
    <td valign="top"><p align="center">19-37</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Сегментоядерные    нейтрофилы </p></td>
    <td valign="top"><p align="center">[[analiz23]]</p></td>
    <td rowspan="2" valign="top"><p align="center">30-50</p></td>
    <td rowspan="2" valign="top"><p align="center">35-55</p></td>
    <td valign="top"><p align="center">47-72</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Палочкоядерные нейтрофилы</p></td>
    <td valign="top"><p align="center">[[analiz24]]</p></td>
    <td valign="top"><p align="center">1-6</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Базофилы</p></td>
    <td valign="top"><p align="center">[[analiz25]]</p></td>
    <td valign="top"><p align="center">0,5</p></td>
    <td valign="top"><p align="center">0,5</p></td>
    <td valign="top"><p align="center">0,5-1,0</p></td>
    <td valign="top"><p align="center">%</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Метамиелоциты</p></td>
    <td valign="top"><p align="center">[[analiz26]]</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>СОЭ</p></td>
    <td valign="top"><p align="center">[[analiz27]]</p></td>
    <td valign="top"><p align="center">4-14</p></td>
    <td valign="top"><p align="center">4-12</p></td>
    <td valign="top"><p align="center">Жен:    2-15<br>
    Муж:    2-10</p></td>
    <td valign="top"><p>мм/ч</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>ВСК</p></td>
    <td valign="top"><p align="center">[[analiz28]]</p></td>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p align="center">2:30-5:30</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>Цветовой&nbsp; показатель</p></td>
    <td valign="top"><p align="center">[[analiz29]]</p></td>
    <td valign="top"><p>0,85-1,05</p></td>
    <td valign="top"><p>0,85-1,05</p></td>
    <td valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0,85-1,05</p></td>
    <td valign="top"><p align="center">&nbsp;</p></td>
  </tr>
</table>
<p>-------------------------------------------------------------------------</p>
<p><strong>ИССЛЕДОВАНИЕ  МОЧИ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p><strong>Наименования</strong></p></td>
    <td valign="top"><p><strong>Результат</strong></p></td>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p><strong>Наименования</strong></p></td>
    <td valign="top"><p><strong>Результат</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>1</strong></p></td>
    <td valign="top"><p><strong>Доставленное количество </strong></p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center"><strong>8</strong></p></td>
    <td valign="top"><p><strong>Белок</strong></p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>2</strong></p></td>
    <td valign="top"><p><strong>Цвет</strong></p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center"><strong>9</strong></p></td>
    <td valign="top"><p><strong>Глюкоза</strong></p></td>
    <td valign="top"><p align="center">[[analiz9]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>3</strong></p></td>
    <td valign="top"><p><strong>Прозрачность</strong></p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p align="center"><strong>10</strong></p></td>
    <td valign="top"><p><strong>Кетоны</strong></p></td>
    <td valign="top"><p align="center">[[analiz10]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>4</strong></p></td>
    <td valign="top"><p><strong>Плотность</strong></p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p align="center"><strong>11</strong></p></td>
    <td valign="top"><p><strong>Уробилиноген</strong></p></td>
    <td valign="top"><p align="center">[[analiz11]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>5</strong></p></td>
    <td valign="top"><p><strong>Реакция</strong></p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td valign="top"><p align="center"><strong>12</strong></p></td>
    <td valign="top"><p><strong>Билирубин</strong></p></td>
    <td valign="top"><p align="center">[[analiz12]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>6</strong></p></td>
    <td valign="top"><p><strong>Лейкоциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td valign="top"><p align="center"><strong>13</strong></p></td>
    <td valign="top"><p><strong>Эритроциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz13]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>7</strong></p></td>
    <td valign="top"><p><strong>Бактерии</strong></p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td valign="top"><p align="center"><strong>14</strong></p></td>
    <td valign="top"><p><strong>Аскорбиновая    кислота</strong></p></td>
    <td valign="top"><p align="center">[[analiz14]]</p></td>
  </tr>
</table>
<div align="center"><strong>Лейкоцитарная формула</strong></div>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="2%" valign="top"><p align="center"><strong>&nbsp;</strong></p>
      <p align="center"><strong>1</strong></p></td>
    <td width="29%" valign="top"><p><strong>&nbsp;</strong></p>
    <p><strong>Плоский    эпителий</strong></p></td>
    <td valign="top"><p align="center">[[analiz15]]</p></td>
    <td width="4%" valign="top"><p align="center"><strong>8</strong></p></td>
    <td width="24%" valign="top"><p><strong>Восковидные</strong></p></td>
    <td valign="top"><p align="center">[[analiz24]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>2</strong></p></td>
    <td valign="top"><p><strong>Переходный    эпителий</strong></p></td>
    <td valign="top"><p align="center">[[analiz16]]</p></td>
    <td valign="top"><p align="center"><strong>9</strong></p></td>
    <td valign="top"><p><strong>Эпителиальные</strong></p></td>
    <td valign="top"><p align="center">[[analiz25]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>3</strong></p></td>
    <td valign="top"><p><strong>Клетки    почечного эпителия</strong></p></td>
    <td valign="top"><p align="center">[[analiz17]]</p></td>
    <td valign="top"><p align="center"><strong>10</strong></p></td>
    <td valign="top"><p><strong>Неорганический осадок:</strong></p></td>
    <td valign="top"><p align="center">[[analiz26]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>4</strong></p></td>
    <td valign="top"><p><strong>Лейкоциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz18]]</p></td>
    <td valign="top"><p align="center"><strong>11</strong></p></td>
    <td valign="top"><p><strong>Крист. моч.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    к-ты</strong></p></td>
    <td valign="top"><p align="center">[[analiz27]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>5</strong></p></td>
    <td valign="top"><p><strong>Эритроциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz19]]</p></td>
    <td valign="top"><p align="center"><strong>12</strong></p></td>
    <td valign="top"><p><strong>Ураты</strong></p></td>
    <td valign="top"><p align="center">[[analiz28]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>6</strong></p></td>
    <td valign="top"><p><strong>Слизь</strong></p></td>
    <td width="17%" valign="top"><p align="center">[[analiz20]]</p></td>
    <td valign="top"><p align="center"><strong>13</strong></p></td>
    <td valign="top"><p><strong>Фосфаты</strong></p></td>
    <td valign="top"><p align="center">[[analiz29]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>7</strong></p></td>
    <td valign="top"><p><strong>Бактерии</strong></p></td>
    <td valign="top"><p align="center">[[analiz21]]</p></td>
    <td valign="top"><p align="center"><strong>14</strong></p></td>
    <td valign="top"><p><strong>Оксалаты</strong></p></td>
    <td valign="top"><p align="center">[[analiz30]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>8</strong></p></td>
    <td valign="top"><p><strong>Цилиндры: Гиалиновые</strong></p></td>
    <td valign="top"><p align="center">[[analiz22]]</p></td>
    <td valign="top"><p align="center"><strong>15</strong></p></td>
    <td valign="top"><p><strong>Дрожжевые грибы</strong></p></td>
    <td valign="top"><p align="center">[[analiz31]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>9</strong></p></td>
    <td valign="top"><p><strong>Зернистые</strong></p></td>
    <td valign="top"><p align="center">[[analiz23]]</p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td valign="top"><p><strong>&nbsp;</strong></p></td>
    <td valign="top"><p align="center">[[analiz32]]</p></td>
  </tr>
</table>
<p>----------------------------------------------------------------------------------</p>
<p><strong>ПРОБА РЕБЕРГА </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="213" valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td width="213" valign="top"><p align="center"><strong>Результат</strong></p></td>
    <td width="212" valign="top"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Клубочный    фильтрация</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="212" valign="top"><p>60-120ммоль/л</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Реабсорбсия</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td width="212" valign="top"><p>97-99%</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Креатинин    кровь Муж:</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td width="212" valign="top"><p>61,8-123,7    мкм/л</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Креатинин    кровь Жен: </p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td width="212" valign="top"><p>53-97,2    мкм/л</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Креатинин    Моча Муж: </p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td width="212" valign="top"><p>88-177    мкм/кг</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Креатинин    Моча Жен: </p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td width="212" valign="top"><p>71-77    мкм/кг</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Час    диурез</p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td width="212" valign="top"><p>мкм/ч</p></td>
  </tr>
  <tr>
    <td width="213" valign="top"><p>Минут    диурез</p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td width="212" valign="top"><p>мкм/мин</p></td>
  </tr>
</table>
<p>--------------------------------------------------------------------------</p>
<p><strong>РЕВМАПРОБЫ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="195" nowrap valign="bottom"></td>
    <td width="128" nowrap valign="bottom"><p align="center"><strong>Результат</strong><strong> </strong></p></td>
    <td width="128" nowrap valign="bottom"><p><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td width="195" nowrap valign="bottom"><p align="center">Ревматоидный фактор</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td width="128" nowrap valign="bottom"><p>До 12 мг/л</p></td>
  </tr>
  <tr>
    <td width="195" nowrap valign="bottom"><p align="center">Антистрептолизин-О</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td width="128" nowrap valign="bottom"><p>До 200 UE/ml</p></td>
  </tr>
  <tr>
    <td width="195" nowrap valign="bottom"><p align="center">С-реактивный белок</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td width="128" nowrap valign="bottom"><p>До 6 mg/l</p></td>
  </tr>
</table>
<p>---------------------------------------------------------------</p>
<p><strong>СОК&nbsp; ПРОСТАТЫ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td valign="top"><p align="center"><strong>№</strong></p></td>
    <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td valign="top"><p align="center"><strong>Результаты&nbsp; исследования</strong></p></td>
    <td valign="top"><p align="center"><strong>Референтные    значения</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>1</strong></p></td>
    <td valign="top"><p><strong>Количество</strong></p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p><strong>3-5 мл</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>2</strong></p></td>
    <td valign="top"><p><strong>Цвет</strong></p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p><strong>Белый,сероватый,    желтый</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>3</strong></p></td>
    <td valign="top"><p><strong>Рн</strong></p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p><strong>7,2-7,8</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>4</strong></p></td>
    <td valign="top"><p><strong>Лейкоциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p><strong>3-</strong><strong>4</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>5</strong></p></td>
    <td valign="top"><p><strong>Эритроциты</strong></p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td valign="top"><p><strong>Abs</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>6</strong></p></td>
    <td valign="top"><p><strong>Лецитиновые    зерна Амилоидные тельца</strong></p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td valign="top"><p><strong>++++</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>7</strong></p></td>
    <td valign="top"><p><strong>Слизь</strong></p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td valign="top"><p><strong>Abs</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center"><strong>8</strong></p></td>
    <td valign="top"><p><strong>Эпителиальные&nbsp; клетки</strong></p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td valign="top"><p><strong>E</strong><strong>д.в препарате</strong></p></td>
  </tr>
</table>
<p>-------------------------------------------------------------</p>
<p><strong>ТОРЧ ИНФЕКЦИИ </strong></p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td width="2%"><p align="center"><strong>№</strong></p></td>
    <td width="60%"><p align="center"><strong>Наименования</strong></p></td>
    <td width="16%"><p align="center"><strong>Результат</strong></p></td>
    <td width="15%"><p align="center"><strong>Интерпритация</strong></p></td>
    <td width="7%"><p align="center"><strong>Норма</strong></p></td>
  </tr>
  <tr>
    <td><p align="center">1</p></td>
    <td><p align="center">Антитела класса Ig G к    вирусу простого герпеса, тип 1,2 Herрes Simplex Virus1</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td><p align="center">(+) полож</p></td>
    <td><p align="center">До 0,35</p></td>
  </tr>
  <tr>
    <td><p align="center">2</p></td>
    <td><p align="center">Антитела класса Ig G к    Цитомегаловирусу&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CMV Ig G</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td><p align="center">(+) полож</p></td>
    <td><p align="center">До 0,35</p></td>
  </tr>
  <tr>
    <td><p align="center">3</p></td>
    <td><p align="center">Антитела класса Ig G к    вирусу токсоплазмы Toxoplasma Gondii Ig G</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td><p align="center">(-) отриц</p></td>
    <td><p align="center">До 0,34</p></td>
  </tr>
  <tr>
    <td><p align="center">4</p></td>
    <td><p align="center">Антитела класса Ig G к    вирусу Ureaplasma urealyticum</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td><p align="center">(-) отриц</p></td>
    <td><p align="center">До 0,31</p></td>
  </tr>
  <tr>
    <td><p align="center">5</p></td>
    <td><p align="center">Антитела класса Ig G к    вирусу Chlamydia trachomatis</p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td><p align="center">(-) отриц</p></td>
    <td><p align="center">До 0,30</p></td>
  </tr>
  <tr>
    <td><p align="center">6</p></td>
    <td><p align="center">Антитела класса Ig G к    вирусу Rubella</p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td><p align="center">(-) отриц</p></td>
    <td><p align="center">До 0,31</p></td>
  </tr>
</table>
<p>АНАЛИЗ ГИНЕКОЛОГИЧЕСКОГО МАЗКА </p>
<table border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td><p align="center"><strong>Показатели</strong></p></td>
    <td><p align="center"><strong>U</strong></p></td>
    <td><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; V</strong></p></td>
    <td><p align="center"><strong>C</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Лейкоциты</p></td>
    <td valign="top"><p align="center">[[analiz1]]</p></td>
    <td valign="top"><p align="center">[[analiz9]]</p></td>
    <td valign="top"><p align="center">[[analiz17]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Эпителий</p></td>
    <td valign="top"><p align="center">[[analiz2]]</p></td>
    <td valign="top"><p align="center">[[analiz10]]</p></td>
    <td valign="top"><p align="center">[[analiz18]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Слизь</p></td>
    <td valign="top"><p align="center">[[analiz3]]</p></td>
    <td valign="top"><p align="center">[[analiz11]]</p></td>
    <td valign="top"><p align="center">[[analiz19]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Гонококки</p></td>
    <td valign="top"><p align="center">[[analiz4]]</p></td>
    <td valign="top"><p align="center">[[analiz12]]</p></td>
    <td width="17%" valign="top"><p align="center">[[analiz20]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Трихомонады</p></td>
    <td valign="top"><p align="center">[[analiz5]]</p></td>
    <td valign="top"><p align="center">[[analiz13]]</p></td>
    <td valign="top"><p align="center">[[analiz21]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Ключевые    клетка</p></td>
    <td valign="top"><p align="center">[[analiz6]]</p></td>
    <td valign="top"><p align="center">[[analiz14]]</p></td>
    <td valign="top"><p align="center">[[analiz22]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Кандида</p></td>
    <td valign="top"><p align="center">[[analiz7]]</p></td>
    <td valign="top"><p align="center">[[analiz15]]</p></td>
    <td valign="top"><p align="center">[[analiz23]]</p></td>
  </tr>
  <tr>
    <td valign="top"><p align="center">Микрофлора</p></td>
    <td valign="top"><p align="center">[[analiz8]]</p></td>
    <td valign="top"><p align="center">[[analiz16]]</p></td>
    <td valign="top"><p align="center">[[analiz24]]</p></td>
  </tr>
</table>
