<script>
		function printDiv(divName){
			var printContents = document.getElementById(divName).innerHTML;
			var originalContents = document.body.innerHTML;

			document.body.innerHTML = printContents;

			window.print();

			document.body.innerHTML = originalContents;

		}
	</script>
<h1> do not print this </h1>

<div id="printMe">
  Print this only 
</div>

<button onclick="printDiv('printMe')">Print only the above div</button>
<table  class="table" border="1" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td nowrap><p align="center"><strong>є</strong></p></td>
    <td><p align="center"><strong>√ќ–ћќЌџ</strong></p></td>
    <td><p align="center"><strong>–≈«”Ћ№“ј“</strong></p></td>
    <td><p align="center"><strong>≈ƒ»Ќ»÷џ&nbsp;&nbsp;&nbsp; »«ћ≈–≈Ќ»я</strong></p></td>
    <td><p align="center"><strong>Ќќ–ћјЋ№Ќџ… ƒ»јѕј«ќЌ</strong></p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>1</strong></p></td>
    <td><p align="center">ѕ–ќЋј “»Ќ/ <strong>–RL</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz1"></td>
    <td><p align="center">мћ≈/л</p></td>
    <td><p>∆енщины: 67-726 мћ≈/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ћужчины: 105-540    мћ≈/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>2</strong></p></td>
    <td><p align="center">“≈—“ќ—“≈–ќЌ <strong>(TESTOSTERONE)</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz2"></td>
    <td><p align="center">нг/мл</p></td>
    <td><p>∆енщины: &lt; 0,6 нг/мл &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt; 0,8    нг/мл&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;    ћужчины: 3,5-8,6 нг/мл ћальчики: 0,3-1,2 нг/мл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>3</strong></p></td>
    <td><p align="center">“–»…ќƒ“»–ќЌ»Ќ<strong>/“3</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz3"></td>
    <td><p align="center">нг/мл</p></td>
    <td><p>0,69-2,02 нг/мл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>4</strong></p></td>
    <td><p align="center">“»–ќ —»Ќ/<strong>“4</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz4"></td>
    <td><p align="center">мкг/дл</p></td>
    <td><p>ћужчины: 4,4-10,8 мкг/дл ∆енщины: 4,8-11,6    мкг/дл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>5</strong></p></td>
    <td><p align="center">“»–ќ —»Ќ/<strong>“4</strong> свободный</p></td>
    <td><input type="text" class="anal_input" name="analiz5"></td>
    <td><p align="center">нг/дл</p></td>
    <td><p>¬зрослые: 0,8-2,0 нг/дл Ѕеременные: 0,8-2,2    нг/дл</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>6</strong></p></td>
    <td><p align="center">“»–≈ќ“–ќѕЌџ… √ќ–ћќЌ (<strong>““√)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p></td>
    <td><input type="text" class="anal_input" name="analiz6"></td>
    <td><p align="center">mlU/I</p></td>
    <td><p>0,3-4,0 mlU/I</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>7</strong></p></td>
    <td><p align="center">‘ќЋЋ» ”Ћ—“»ћ”Ћ»–”ёў»…    √ќ–ћќЌ <strong>(‘—√)</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz7"></td>
    <td><p align="center">ед/л</p></td>
    <td><p>∆енщины: фоллик.фаза:&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;    3,0-12,0 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;—ередина цикла: 8,0-22,0 &nbsp;ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Ћютеин.    ‘аза: 2,0-12,0 ед/л ѕостменопауза:35,0-151&nbsp;    ед/л ћужчины: 1,0-14,0 ед/л</p></td>
  </tr>
  <tr>
    <td nowrap><p align="center"><strong>8</strong></p></td>
    <td><p align="center">Ћё“≈»Ќ»«»–”ў»… √ќ–ћќЌ <strong>(Ћ√)</strong></p></td>
    <td><input type="text" class="anal_input" name="analiz8"></td>
    <td><p align="center">ед/л</p></td>
    <td><p>∆енщины: фоллик.фаза:&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;0,8-10,5 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;    —ередина цикла:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;&nbsp;18,4-51,2 ед/л&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
      &nbsp;Ћютеин.    ‘аза: 0,8-10,5 ед/л ѕостменопауза: 8,2-40,8 ед/л ћужчины: 0,7-7,4 ед/л</p></td>
  </tr>
</table>